<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xhopii - Mês do Consumidor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <!-- Cabeçalho -->
    <header class="cabecalho">
        <!-- Linha Superior -->
        <div class="linha-superior">
            <div class="container-superior">
                <div class="logo">
                    <div>
                        <div>
                          <img src="..\assets\img\logo.png" alt="" class="imagem-logo">
                        </div>
                    </div>
                    <span class="texto-logo">Xhopii</span>
                </div>
                <div class="usuario-area">
                    <a href="#" class="link-sair">Sair</a>
                </div>
            </div>
        </div>
        <!-- Linha Inferior - Navbar -->
        <div class="linha-inferior">
            <div class="container-navbar">
                <nav class="navegacao">
                    <ul class="menu-principal">
                        <li><a href="home.html" class="link-menu">Home</a></li>
                        <li><a href="tela-cadastro.html" class="link-menu">Cadastro Cliente</a></li>
                        <li><a href="tela-cadastro-funcionario.html" class="link-menu">Cadastro Funcionário</a></li>
                        <li><a href="tela-cadastro-produto.html" class="link-menu">Cadastro Produto</a></li>
                        <li><a href="#" class="link-menu">Ver Clientes</a></li>
                        <li><a href="#" class="link-menu">Ver Funcionário</a></li>
                        <li><a href="#" class="link-menu">Ver Produto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Carrossel Principal -->
    <section class="carrossel-principal">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="..\assets\img\carousel-1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..\assets\img\carousel-2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..\assets\img\carousel-3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..\assets\img\carousel-4.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </section>

    <!-- Banner Propaganda Menor -->
    <section class="banner-propaganda">
        <div class="container-propaganda">
            <div class="propaganda-menor">
                <!-- Imagem da propaganda menor-->
                <div>
                    <div class="conteudo-propaganda">
                        <img src="..\assets\img\home-promocao.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Título Descobertas do Dia -->
    <section class="secao-titulo-descobertas">
        <div class="container-titulo">
            <h2 class="titulo-descobertas">descobertas do dia</h2>
        </div>
    </section>

    <!-- Grade de Produtos -->
    <section class="secao-produtos">
        <div class="container-produtos">
            <div class="grade-produtos">
                <!-- Linha 1 de produtos -->
                <div class="produto-item">
                    <div class="imagem-produto">
                        <img src="..\assets\img\produto1.png" alt="" class="ft-prod">
                    </div>
                    <div class="info-produto">
                        <p class="preco-produto">R$ 29,90</p>
                    </div>
                </div>
                <div class="produto-item">
                    <div class="imagem-produto">
                        <img src="..\assets\img\produto1.png" alt="" class="ft-prod">
                    </div>
                    <div class="info-produto">
                        <p class="preco-produto">R$ 29,90</p>
                    </div>
                </div>
                <div class="produto-item">
                    <div class="imagem-produto">
                        <img src="..\assets\img\produto1.png" alt="" class="ft-prod">
                    </div>
                    <div class="info-produto">
                        <p class="preco-produto">R$ 29,90</p>
                    </div>
                </div>
                <div class="produto-item">
                    <div class="imagem-produto">
                        <img src="..\assets\img\produto1.png" alt="" class="ft-prod">
                    </div>
                    <div class="info-produto">
                        <p class="preco-produto">R$ 29,90</p>
                    </div>
                </div>
                <div class="produto-item">
                    <div class="imagem-produto">
                        <img src="..\assets\img\produto1.png" alt="" class="ft-prod">
                    </div>
                    <div class="info-produto">
                        <p class="preco-produto">R$ 29,90</p>
                    </div>
                </div>

                <!-- Linha 2 de produtos -->
                <div class="produto-item">
                    <div class="imagem-produto">
                        <img src="..\assets\img\produto1.png" alt="" class="ft-prod">
                    </div>
                    <div class="info-produto">
                        <p class="preco-produto">R$ 29,90</p>
                    </div>
                </div>
                <div class="produto-item">
                    <div class="imagem-produto">
                        <img src="..\assets\img\produto1.png" alt="" class="ft-prod">
                    </div>
                    <div class="info-produto">
                        <p class="preco-produto">R$ 29,90</p>
                    </div>
                </div>
                <div class="produto-item">
                    <div class="imagem-produto">
                        <img src="..\assets\img\produto1.png" alt="" class="ft-prod">
                    </div>
                    <div class="info-produto">
                        <p class="preco-produto">R$ 29,90</p>
                    </div>
                </div>
                <div class="produto-item">
                    <div class="imagem-produto">
                        <img src="..\assets\img\produto1.png" alt="" class="ft-prod">
                    </div>
                    <div class="info-produto">
                        <p class="preco-produto">R$ 29,90</p>
                    </div>
                </div>
                <div class="produto-item">
                    <div class="imagem-produto">
                        <img src="..\assets\img\produto1.png" alt="" class="ft-prod">
                    </div>
                    <div class="info-produto">
                        <p class="preco-produto">R$ 29,90</p>
                    </div>
                </div>
    </section>

    <!-- Rodapé -->
    <footer class="rodape">
        <div class="container-rodape">
            <div class="coluna-rodape">
                <h4 class="titulo-coluna-rodape">ATENDIMENTO AO CLIENTE</h4>
                <ul class="lista-links-rodape">
                    <li><a href="#" class="link-rodape">Central de ajuda</a></li>
                    <li><a href="#" class="link-rodape">Como comprar</a></li>
                    <li><a href="#" class="link-rodape">Métodos de pagamento</a></li>
                    <li><a href="#" class="link-rodape">Garantia Xhopii</a></li>
                    <li><a href="#" class="link-rodape">Devolução e Reembolso</a></li>
                    <li><a href="#" class="link-rodape">Fale Conosco</a></li>
                    <li><a href="#" class="link-rodape">Ouvidoria</a></li>
                </ul>
            </div>
            
            <div class="coluna-rodape">
                <h4 class="titulo-coluna-rodape">SOBRE A XHOPII</h4>
                <ul class="lista-links-rodape">
                    <li><a href="#" class="link-rodape">Sobre nós</a></li>
                    <li><a href="#" class="link-rodape">Política Xhopii</a></li>
                    <li><a href="#" class="link-rodape">Politica de Privacidade</a></li>
                    <li><a href="#" class="link-rodape">Programa Aliados Xhopii</a></li>
                    <li><a href="#" class="link-rodape">Ofertas relâmpago</a></li>
                    <li><a href="#" class="link-rodape">Xhopii Blog</a></li>
                    <li><a href="#" class="link-rodape">Impresa</a></li>
                </ul>
            </div>
            
            <div class="coluna-rodape coluna-pagamento">
                <h4 class="titulo-coluna-rodape">PAGAMENTO</h4>
                <div class="formas-pagamento">
                    <div class="linha-pagamento">
                        <img src="..\assets\img\logo-visa.png" alt="">
                        <img src="..\assets\img\logo-mastercard.png" alt="">
                        <img src="..\assets\img\logo-elo.png" alt="">
                    </div>
                    <div class="linha-pagamento">
                        <img src="..\assets\img\logo-american-express.png" alt="">
                        <img src="..\assets\img\logo-hipercard.png" alt="">
                        <img src="..\assets\img\logo-pix.png" alt="">
                    </div>
                    <div class="linha-pagamento">
                        <img src="..\assets\img\logo-boleto.png" alt="">
                    </div>
                </div>
            </div>
            
            <div class="coluna-rodape coluna-redes">
                <h4 class="titulo-coluna-rodape">SIGA-NOS</h4>
                <ul class="lista-redes-sociais">
                  <li><img src="..\assets\img\logo-instagram.png" alt="" class="icone-rede"> Instagram</li>
                  <li><img src="..\assets\img\logo-twitter.png" alt="" class="icone-rede"> Twitter</li>
                  <li><img src="..\assets\img\logo-facebook.png" alt="" class="icone-rede"> Facebook</li>
                  <li><img src="..\assets\img\logo-youtube.png" alt="" class="icone-rede"> Youtube</li>
                  <li><img src="..\assets\img\logo-linkedln.png" alt="" class="icone-rede"> Linkedin</li>
                </ul>
            </div>
            
            <div class="coluna-rodape coluna-atendimento">
                <h4 class="titulo-coluna-rodape">ATENDIMENTO AO CLIENTE</h4>
                <div class="qr-code-container">
                    <img src="..\assets\img\qr-code.png" alt="">
                    <p class="texto-qr">Baixe o APP</p>
                </div>
            </div>
        </div>
        
        <div class="linha-rodape-inferior">
            <div class="container-inferior">
                <p class="texto-copyright">© 2025 Xhopii. Todos Direitos Academicos Reservados</p>
            </div>
        </div>
    </footer>
</body>
</html>