<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xhopii - Redefinir senha</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <!-- Header -->
    <header class="header2">
        <div class="header-content2">
            <div class="logo">
                <img src="..\assets\img\logo.png" alt="" class="imagem-logo">
                <div class="logo-text">Xhopii</div>
            </div>
            <h1 class="header-title">Redefinir senha</h1>
            <div class="help-link">
                <a href="#">Precisa de ajuda?</a>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main class="main-content">
        <div class="reset-form-container">
            <a href="cadastro-cliente.html" class="back-arrow">←</a>
            <h2 class="form-title">Redefinir senha</h2>
            <form class="reset-form">
                <input type="email" placeholder="Email" class="input-field">
                <button type="submit" class="submit-button">ENVIAR</button>
            </form>
        </div>
    </main>

    <footer class="rodape">
        <div class="container-rodape">
            <div class="coluna-rodape">
                <h4 class="titulo-coluna-rodape">ATENDIMENTO AO CLIENTE</h4>
                <ul class="lista-links-rodape">
                    <li><a href="#" class="link-rodape">Central de ajuda</a></li>
                    <li><a href="#" class="link-rodape">Como comprar</a></li>
                    <li><a href="#" class="link-rodape">Métodos de pagamento</a></li>
                    <li><a href="#" class="link-rodape">Garantia Xhopii</a></li>
                    <li><a href="#" class="link-rodape">Devolução e Reembolso</a></li>
                    <li><a href="#" class="link-rodape">Fale Conosco</a></li>
                    <li><a href="#" class="link-rodape">Ouvidoria</a></li>
                </ul>
            </div>
            
            <div class="coluna-rodape">
                <h4 class="titulo-coluna-rodape">SOBRE A XHOPII</h4>
                <ul class="lista-links-rodape">
                    <li><a href="#" class="link-rodape">Sobre nós</a></li>
                    <li><a href="#" class="link-rodape">Política Xhopii</a></li>
                    <li><a href="#" class="link-rodape">Politica de Privacidade</a></li>
                    <li><a href="#" class="link-rodape">Programa Aliados Xhopii</a></li>
                    <li><a href="#" class="link-rodape">Ofertas relâmpago</a></li>
                    <li><a href="#" class="link-rodape">Xhopii Blog</a></li>
                    <li><a href="#" class="link-rodape">Impresa</a></li>
                </ul>
            </div>
            
            <div class="coluna-rodape coluna-pagamento">
                <h4 class="titulo-coluna-rodape">PAGAMENTO</h4>
                <div class="formas-pagamento">
                    <div class="linha-pagamento">
                        <img src="..\assets\img\logo-visa.png" alt="">
                        <img src="..\assets\img\logo-mastercard.png" alt="">
                        <img src="..\assets\img\logo-elo.png" alt="">
                    </div>
                    <div class="linha-pagamento">
                        <img src="..\assets\img\logo-american-express.png" alt="">
                        <img src="..\assets\img\logo-hipercard.png" alt="">
                        <img src="..\assets\img\logo-pix.png" alt="">
                    </div>
                    <div class="linha-pagamento">
                        <img src="..\assets\img\logo-boleto.png" alt="">
                    </div>
                </div>
            </div>
            
            <div class="coluna-rodape coluna-redes">
                <h4 class="titulo-coluna-rodape">SIGA-NOS</h4>
                <ul class="lista-redes-sociais">
                  <li><img src="..\assets\img\logo-instagram.png" alt="" class="icone-rede"> Instagram</li>
                  <li><img src="..\assets\img\logo-twitter.png" alt="" class="icone-rede"> Twitter</li>
                  <li><img src="..\assets\img\logo-facebook.png" alt="" class="icone-rede"> Facebook</li>
                  <li><img src="..\assets\img\logo-youtube.png" alt="" class="icone-rede"> Youtube</li>
                  <li><img src="..\assets\img\logo-linkedln.png" alt="" class="icone-rede"> Linkedin</li>
                </ul>
            </div>
            
            <div class="coluna-rodape coluna-atendimento">
                <h4 class="titulo-coluna-rodape">ATENDIMENTO AO CLIENTE</h4>
                <div class="qr-code-container">
                    <img src="..\assets\img\qr-code.png" alt="">
                    <p class="texto-qr">Baixe o APP</p>
                </div>
            </div>
        </div>
        
        <div class="linha-rodape-inferior">
            <div class="container-inferior">
                <p class="texto-copyright">© 2025 Xhopii. Todos Direitos Academicos Reservados</p>
            </div>
        </div>
    </footer>
</body>
</html>

